#home-page {
		height: 100%;
}

#add-camera-map-page {
		height: 100%;
}

#map{
		height: 100%;
		width: 100%;
		z-index: 9;
}

#add-camera-map{
		height: 100%;
		width: 100%;
}

#map-panel{
		position : absolute;
		top : 0;
		right : 0;
		bottom : 0;
		left : 0;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 44px;
		margin-bottom: 114px;
}

#simple-content{
		padding-top: 60px;
		padding-left: 10px;
		padding-right: 10px;
}

.center-image{
		height:150px;
		margin-left: auto;
		margin-right: auto;
}

.comment {
		padding-left: 5px;
		padding-right: 5px;
		border-radius: 10px;
		background-color: #fff;
}

.description {
		padding-bottom: 5px;
}

.center {
    text-align: center;
    position:relative;
    z-index: 3;
}

#legende {
    position: absolute;
    bottom: 50px;
    left: 10px;
    z-index: 999;
    width: 130px;
    min-height: 80px;
    background-color: rgb(255,255,255);
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
    font-size: 8pt;
    padding: 5px;  
    background-position: 50% 50%;
}

#interpolationClasses table td {
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
}